<!DOCTYPE html>
<html>
  <head>
	<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
	<script>
		  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCgT1gwtKhM1ma0SgTP3Lf5wVVMupEklu4",
    authDomain: "seniorgps-7da0a.firebaseapp.com",
    databaseURL: "https://seniorgps-7da0a.firebaseio.com",
    projectId: "seniorgps-7da0a",
    storageBucket: "seniorgps-7da0a.appspot.com",
    messagingSenderId: "675280638130"
  };
  firebase.initializeApp(config);
	</script>
	
	<script src="/javascripts/general.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	
	<title><%= title %></title>
  </head>
  
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>

</html>
