<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
	<script>
		  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCgT1gwtKhM1ma0SgTP3Lf5wVVMupEklu4",
    authDomain: "seniorgps-7da0a.firebaseapp.com",
    databaseURL: "https://seniorgps-7da0a.firebaseio.com",
    projectId: "seniorgps-7da0a",
    storageBucket: "seniorgps-7da0a.appspot.com",
    messagingSenderId: "675280638130"
  };
  firebase.initializeApp(config);
	</script>

	<script src="/javascripts/general.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

	<title><%= title %></title>
  </head>

  <body>
    <div class="container">
      <div class="logo">
        <img src="images/compass.png">
        <h1> Find My Senior </h1>
      </div>
      <div class="wrapper">
        <form class="form-signin">
          <input type="text" class="form-control username-input" name="username" placeholder="Username" required="" autofocus="" />
          <input type="password" class="form-control password-input" name="password" placeholder="Password" required="" style="margin-top: 10px; margin-bottom: 10px"/>
          <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember Me
          </label>
          <button class=" login-button btn btn-lg btn-primary btn-block" type="submit" style="background-color: #1B2D3F; border-color:#1B2D3F; ">Login</button>
        </form>
      </div>
  </body>

</html>
