<!DOCTYPE html>
<html>
  <head>
  <script src="/javascripts/jquery-3.2.1.js"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel='stylesheet' href='/stylesheets/map.css' />
	<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
	<script>
		  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCgT1gwtKhM1ma0SgTP3Lf5wVVMupEklu4",
    authDomain: "seniorgps-7da0a.firebaseapp.com",
    databaseURL: "https://seniorgps-7da0a.firebaseio.com",
    projectId: "seniorgps-7da0a",
    storageBucket: "seniorgps-7da0a.appspot.com",
    messagingSenderId: "675280638130"
  };
  firebase.initializeApp(config);
	</script>
	<title><%= title %></title>
  </head>
		
  <body>
<div class = "container-fluid">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
		<!--
			<a class="navbar-brand" onclick ="window.location.reload()">
				<img alt="Brand" src="images/compass.png" class="img-responsive" />
			</a> -->
			<div class="nav pull-left">
				<a href ="/"><button type="button" class="btn btn-primary navbar-btn">Sign Out</button></a>
			</div>
	  </div>
	</nav>

	<div id="map"></div>
	<div id="directionsPanel"></div>
	
	<div class="btn-group" role="group">
    <button type="button" onclick = getLocation() class="btn btn-default btn-lg">Locate</button>
	<button type="button" onclick = "window.location.reload()" class="btn btn-default btn-lg">Refresh</button>
	</div>
  
</div>
  </body>
  	<script
	src="https://maps.googleapis.com/maps/api/
		js?key=AIzaSyCILZ6BLutcD82KmmP8faJSljQYdzBZmi4">
    </script>
		<script src="/javascripts/map.js"></script>
</html>
