body {
	background: #eee !important;
  background-color: #D3E0E2 !important;
}

#map {
    height: 400px;
    justify-content: center;
	}

.navbar-brand { 
    max-height: 11%;
    max-width: 11%; 
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0; 
}